.chat-widget {
  margin: 0 20px 20px 20px;
  max-width: 370px;
  width: 90vw;
  z-index: 9999;
  overflow: hidden;
}
.chat-widget .toggle-button {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  border-color: rgba(148, 153, 169, 0.67);
  background-color: rgba(37, 49, 86, 0.48);
}

.chat-widget .messages-list {
  border-color: rgba(148, 153, 169, 0.67);
  height: 50vh;
  max-height: 410px;
  overflow-y: scroll;
}

.chat-widget .chat-container {
  background-color: rgba(37, 49, 86, 0.87);
  box-shadow: 0px 1px 15px 0px #b5b5b56b;
}

.chat-widget .chat-header {
  border-color: rgba(148, 153, 169, 0.67);
  color: #fff;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.chat-widget .message-input {
  border-color: rgba(148, 153, 169, 0.67);
}

.chat-widget .message-content {
  background-color: rgb(21, 27, 47);
}

.chat-widget .message-author {
  font-size: 0.75rem;
}

.chat-widget .message-timestamp {
  font-size: 0.55rem;
}
